{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>


<section class="sections" id="sections">
    <h1>Sections You May Visit</h1>
    <p>Temping for now and i dont know what to write yet so bye</p>
    <div class="container">
        <div class="row">
            <div class="course-col">
            <h3 class="th1">Forums</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also you have time limit which you may manage . Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        <div class="course-col">
            <h3 class="th1">News</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also, you have time limit which you may manage . Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        <div class="course-col">
            <h3 class="th1">Accomplishments</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also you have time limit which you may manage . Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        </div>
        <div class="row">
            <div class="course-col">
            <h3 class="th1">Researches</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also you have time limit which you may manage . Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        <div class="course-col">
            <h3 class="th1">Profile</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also you have time limit which you may manage . Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        <div class="course-col">
            <h3 class="th1">Settings</h3>
            <p class="textp">Chatting in forums you have to keep yourself respectful to others.
            Also you have time limit which you may manage . Forums are designed in
            this way in order to keep you concentrated on your goals.</p>
        </div>
        </div>
    </div>
</section>

<script>var navLinks = document.getElementById("navLinks"); function showMenu(){navLinks.style.right="0";} function hideMenu(){navLinks.style.right="-200px";}
</script>
</body>

{% endblock %}
